[commit]
	gpgsign = true
[user]
	name = Hugo Locurcio
	email = hugo.locurcio@hugo.pro
[alias]
	lg = log --color --pretty=format:'%C(245)%h%Creset  %C(yellow)%ci %C(white bold)%>(24)%an%Creset -%C(bold magenta)%d%Creset %s' --abbrev-commit
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[branch]
[pull]
	rebase = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[hub]
	protocol = ssh
