[commit]
	gpgsign = true
[user]
	name = Hugo Locurcio
	email = hugo.locurcio@hugo.pro
[alias]
	lg = log --color --pretty=format:'%C(245)%h%Creset  %C(yellow)%ci %C(white bold)%>(24)%an%Creset -%C(bold magenta)%d%Creset %s' --abbrev-commit
	addnw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
	psuh = push
	ocmmit = commit
[core]
	pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
[branch]
[pull]
	rebase = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[hub]
	protocol = ssh
[tag]
	forceSignAnnotated = true
[interactive]
	diffFilter = delta --color-only
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[merge]
	renamelimit = 10000
[diff]
	colorMoved = default
